body{
    font-family: sans-serif;
    margin: 0;
}




a{
    text-decoration: none;
  
}

#barra{
    display: flex;
    min-height: 70px; 
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    color:#F13402;
    display: flex;
    align-items: center;
}

.logo img{
    height: 90px;
    padding-right: 10px;
}
p {
    
display: inline;
padding-left: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
    color: black;
}

nav a:hover{
    color: red;
}

h1{
    text-align: center;
    left: auto;
}

h2{

    padding-left: 10px;
    font-size: 22px;
    display: inline-block;

}

#spo{

    color: #EE2424;

}

#loinstagram{

    width: 50px;
    height: 50px;
    padding-left: 10px;

}


#plogoi{

    color: black;
    padding: 10px;

}





#lofacebook{

    width: 50px;
    height: 50px;
    padding-left: 10px;

}




#plogof{

    color: black;
    padding: 10px;

}

@media (max-width:700px){
    header{
        flex-direction: column;

    }
    nav{
        padding: 10px 0px;
    }
}
















